body{
  /*background:url(http://i45.tinypic.com/2i2255j.png);*/
 background-image: url('../images/city.jpg');
 background-repeat: no-repeat;
 background-size:cover;
 color: #40c4ff;
 /*font-family: 'Sanchez', serif;*/
font-family: 'David Libre', serif;
/*font-family: 'Yrsa', serif;*/
}
.card{
	border:1px solid #0d47a1;
}
.article-card{
	
    
    height:400px;
   
  
}

.note-card{
	
	height:200px;
	
}
.card-image{
	border-top:1px solid #0d47a1;
  }
#content{
	border-bottom: none;
	
}

#title{
	font-size: 20px;
}

.cursiveFont{
	font-family: 'Indie Flower', cursive;
	font-size:20px;
}